<h2 class="sub-header">Articles</h2>
<ul class="nav nav-tabs">
  
  <li class="<%= params[:all_articles] ? '' : 'active' %>"><%= link_to t('my_articles'), articles_path %></li>
  <li class="<%= params[:all_articles] ? 'active' : '' %>"><%= link_to t('all_articles'), articles_path(all_articles: true) %></li>
</ul>
<%= render 'articles'%>
