<div class='row'>
  <div class='col-md-8'>
    <%= simple_form_for @user, :html => {:multipart => true} do |f| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= content_tag :h3, t('tell_the_world')%>
        </div>
        <div class="panel-body">
          <div class='row'>
            <div class='col-md-6'>
              <%= f.input :first_name, label: t('first_name') %>    
              <%= f.input :last_name, label: t('last_name') %>
            </div>
            <div class='col-md-6'>
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 180; height: 180;">
                  <%= image_tag @user.avatar.iphone.url%>
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 180; max-height: 180px;"></div>
                <div>
                  <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists">Change</span>
                    <%= f.input_field :avatar, as: :file %>
                  </span>
                  <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
              </div>
      				<%= f.hidden_field :avatar_cache %>
            </div>
          </div>
          <%= f.input :expert_in, label: t('expert_in'), hint: t('user.form.expert_in_hint')  %>
          <%= f.input :about, label: t('about'), hint: t('user.form.about_hint'), input_html: {rows: 7} %>
          <%= f.input :nationality, label: t('nationality') %>
          <%= f.input :profession, label: t('profession'), hint: t('user.form.profession_hint') %>
          <%= f.input :website_url, label: t('website_url') %>
          <%= f.input :twitter_handle, label: t('twitter_handle') %>
  				
        </div>
      </div>
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><small>Shhhhh...</small></h3>
        </div>
        <div class="panel-body">
          <%= f.input :email, label: t('email') %>
          <%= f.input :password, label: t('password') %>
          <%= f.input :password_confirmation, label: t('password_confirmation') %>
        </div>
      </div>


      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Cancel', articles_path,  class: 'btn btn-default' %>
      
    <% end %>
  </div>
</div>