<h1>Crop Avatar</h1>
  
<div class='row'>
  <div class='col-md-5'>
    <%= image_tag @user.avatar_url(:large), id: "cropbox" %>
  </div>
  <div class='col-md-4'>
    <h4>Preview</h4>
    <div style="width:100px; height:100px; overflow:hidden" class="img-circle">
      <%= image_tag @user.avatar.url(:large), :id => "preview" %>
    </div>
    
    <br/>
    <%= form_for @user do |f| %>
      <% %w[x y w h].each do |attribute| %>
        <%= f.hidden_field "crop_#{attribute}" %>
      <% end %>
      <div class="actions">
        <%= f.submit "Crop", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>