
<%= simple_form_for resource, as: resource_name, url: session_path(resource_name), :html=> { class: 'form-signin' } do |f| %>
  <h3 class='form-signin-heading'>WAIT! Who the duck are you?</h3>
  <div class="form-inputs">
    <%= f.input :email, label: false, autofocus: true, placeholder: 'Email address please!'  %>
    <%= f.input :password, label: false, placeholder: 'and password' %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

    <%= f.button :submit, "Sign in", class: 'btn btn-lg btn-primary btn-block' %>
    <br/>
    <%= render "devise/shared/links" %>

<% end %>

