<div class='row'>
  <div class='col-md-5'>
    <%= simple_form_for @user do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :role, collection: User::ROLES %>
      <%= f.input :about %>
      <%= f.input :nationality %>
      <%= f.input :profession %>
      <%= f.input :website_url %>
      <%= f.input :twitter_handle %>
      <%= f.input :expert_in %>
      <%= f.submit %>
      
    <% end %>
  </div>
</div>